@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0px;
    background-color: black;
    font-family: "JetBrains Mono";
    margin-left: -5px;
}


header{
    background-color: black;
    margin: 0px;
    height: 30px;
    border-bottom: 1px solid white;
    
    
    
}


p{
    color: white;
    font-family: "JetBrains Mono";
    margin-left: 3%;
    padding-top: 3px;
   
}
#mensagemBemVindo{
    text-align: center;
    margin-top: 10%;
    font-size: 32px;
}
#entrar{
    padding-left: 8%;
    margin-top: 10%;
    font-size: 28px;
}
#inputs{
    margin-left: 10%;
    display: grid;
    width: 300px
}
#inpt1{
    padding: 4%;
    font-size: 16px;
    background-color: #4a42423b;
    color: white;
    margin-top: 7%;
   
}
#inpt2{
    margin-top: 10%;
    padding: 4%;
    font-size: 16px;
    background-color: #4a42423b;
    color: white;
}
.sections{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 15%;
}

button{
    color: white;
    padding: 15px;
    background-color: #403939db;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    

}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    text-decoration: none;
    margin-left: 3%;
    
}
footer{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 14%;
}
.icone, .icone2{
    position: relative;
    top: 340%;
    left: 88%;
    width: 20px;
}
